* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
.main-container {
  position: relative;
}
.logo {
  display: flex;
  align-content: left;
}
.logo h3 {
  font-size: 50px;
}
span {
  color: #f6b400;
}
.flex-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
}
.flex-container li {
  font-size: 25px;
  font-weight: bold;
  padding: 35px;
  list-style: none;
}
.flex-container li:hover {
  border-bottom: 5px solid orange;
}
.narration {
  float: left;
  font-size: 30px;
  margin-right: 6%;
  margin-left: 5%;
  padding-top: 200px;
}
.image {
  height: 300px;
  margin-left: 50px;
  align-content: right;
}
.order {
  background: #f6b400;
  font-size: 20px;
  padding: 16px 30px;
  border: none;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font: white;
  margin: 100px;
}
.segment2 {
  width: 100%;
  height: 500px;
  background-color: #f4f7f5;
  background-clip: content-box;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.quality-burgers {
  height: 70%;
  margin-top: 10%;
  width: 25%;
  border-radius: 15px;
  border: solid black 1px;
  margin-right: 20px;
  padding: 60px;
}
.fast-delivery {
  height: 80%;
  width: 30%;
  border-radius: 15px;
  border: solid black 1px;
  padding: 60px;
}
.delicious-meals {
  height: 70%;
  width: 25%;
  border-radius: 15px;
  border: solid black 1px;
  margin-left: 20px;
  padding: 60px;
}
.show {
  font-size: 20px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  color: maroon;
}
.content {
  font-size: 15px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.segment3 {
  text-align: center;
  padding: 20px;
}
