* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
.shape {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #f6b400;
}
.main-container {
  position: relative;
}
.logo {
  display: flex;
  align-content: left;
}
.logo h3 {
  font-size: 50px;
}
span {
  color: #f6b400;
}
.flex-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
}
.flex-container li {
  font-size: 25px;
  font-weight: bold;
  padding: 35px;
  list-style: none;
}
.flex-container li:hover {
  border-bottom: 5px solid orange;
}
.narration {
  float: left;
  font-size: 30px;
  margin-right: 6%;
  margin-left: 5%;
  padding-top: 200px;
}
.image {
  height: 300px;
  margin-left: 50px;
  align-content: right;
}
.order {
  background: #f6b400;
  font-size: 20px;
  padding: 16px 30px;
  border: none;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font: white;
  margin: 100px;
}
.segment2 {
  width: 100%;
  height: 500px;
  background-color: #f4f7f5;
  background-clip: content-box;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.quality-burgers {
  height: 70%;
  margin-top: 10%;
  width: 25%;
  border-radius: 15px;
  border: solid black 1px;
  margin-right: 20px;
  padding: 60px;
}
.fast-delivery {
  height: 80%;
  width: 30%;
  border-radius: 15px;
  border: solid black 1px;
  padding: 60px;
}
.delicious-meals {
  height: 70%;
  width: 25%;
  border-radius: 15px;
  border: solid black 1px;
  margin-left: 20px;
  padding: 60px;
}
.show {
  font-size: 20px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  color: maroon;
}
.content {
  font-size: 15px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.segment3 {
  text-align: center;
  padding: 20px;
  margin-top: 8%;
}
.burger1 {
  border: solid gray;
  margin: 20px;
  border-radius: 20px;
  padding-top: 20px;
  width: 30%;
  height: 500px;
}
.burger1 h2 {
  text-align: center;
  color: maroon;
}
.burger1 p {
  text-align: center;
}
.items {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.explosion {
  display: flex;
  background-color: rgb(240, 247, 240);
  height: 550px;
  margin-top: 5%;
}
.double {
  margin-left: 20%;
}
.double h4 {
  font-size: 50px;
  margin-top: 15%;
}
.pic {
  margin-left: 30%;
}
.app {
  display: flex;

  background-color: rgb(254, 184, 23);
  padding-bottom: 10%;
}
.box3 > p {
  font-size: 40px;
  padding-left: 20%;
  padding-top: 30%;
  font-weight: bold;
}
.store {
  margin-top: 10%;
  display: flex;
  color: rgb(254, 184, 23);
  padding-left: 20%;
}
.download {
  margin-right: 8%;
}
.phones {
  margin-left: 30%;
  margin-top: 10%;
}
.bottom {
  display: flex;
  margin-top: 8%;
  margin-left: 5%;
  padding-bottom: 3%;
}
.logos {
  flex: 1;
}
.info {
  flex: 1;
}
.subscribe {
  flex: 1;
}
.Subscribe h5 {
  font-size: 20px;
}
.btn {
  background-color: orange;
  padding: 4%;
}
footer {
  display: flex;
  margin-left: 4%;
}
.designer {
  flex: 2;
  padding-top: 70px;
}
.designer h3 {
  font-size: 30px;
}
.socialmedia {
  justify-content: center;
  display: flex;
}
.copyright {
  flex: 1;
  padding-top: 70px;
}
